<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Notizen zur Transformation in anarchistische Gesellschaften</title>
    <link rel="stylesheet" href="<%= @items['/stylesheets/bootstrap/'].path %>" media="screen">
    <link rel="stylesheet" href="<%= @items['/stylesheets/cyborg_bootstrap/'].path %>">

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <meta name="Title" content="Notizen zur Transformation in anarchistische Gesellschaften">
    <meta name="Author" content="rakvat">
    <meta name="Description" content="Notizen zur Transformation in anarchistische Gesellschaften">
    <meta name="Revisit" content="After 15 days">
    <meta name="Keywords" content="Transformation, Anarchie, Solidarit&auml;t, Freiheit">
    <meta name="Robots" content="INDEX,FOLLOW">
    <meta name="content-language" content="de">
    <link rel="icon" href="/favicon.ico?v=3" sizes="16x16 32x32 48x48 64x64 128x128" type="image/vnd.microsoft.icon">
  </head>
  <body text="#FFFFFF" bgcolor="#000000" onLoad="if (self != top) top.location = self.location">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Transformation</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="/wasistdas">Was ist das?</a>
            </li>
            <li class="dropdown">
              <a href="/texte">Texte</a>
            </li>
            <li>
              <a href="/bibliothek">Bibliothek</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/de/" target="_blank">
                <img alt="Creative Commons License" style="border-width:0" src="https://licensebuttons.net/l/by-nc/4.0/80x15.png" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-2 col-xs-0">
        </div>
        <div class="col-lg-6 col-md-8 col-xs-12">
          <br>
          <br>
          <br>
          <%= yield %>
        </div>
        <div class="col-lg-3 col-md-2 col-xs-0">
        </div>
      </div>
    </div>
    <script src="<%= @items['/javascript/jquery/'].path %>"></script>
    <script src="<%= @items['/javascript/bootstrap/'].path %>"></script>
  </body>
</html>
